.wrapper{
    max-width: 1300px;
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    gap: 25px;
}
/* Responsive */
@media screen and (max-width: 1300px) {
    .wrapper {
      max-width: 1024px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      flex-direction: column;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: 615px;
    }
  }