$black:#252530;
$gray-50: #505059;
$orange-thin:#ff492c;
$border: #ccc;
$focus: #e5e0f0;
$orange-bold: #df1f00;
$blue: #246f9e;
$blue-clor: #2690ce;
$hover: #ededed;
$white: #fff;
$green-thin: #14855f;
$green-bold: #0a4330;


// --color-title: #252530;
// --color-list: #505059;
// --color-focus: #ff492c;
// --blue: #246f9e;
// --border: #ccc;
// --focus: #e5e0f0;
// --btn: #df1f00;
// --hover: #ededed;